Repository CDCgov/covidhub-sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: data-submission, code, model-metadata, documentation, configuration

add forecast and metadata
  model-metadata/teamone-modelone.yml
  model-output/2024-10-26-teamone-modelone.csv
Labels: data-submission, model-metadata

add forecasts
  model-output/teamtwo-modeltwo/2024-11-02-teamtwo-modeltwo.csv
Labels: data-submission

add metadata
  model-metadata/teamone-modelone.yaml
Labels: model-metadata

add forecasts
  model-output/teamone-modelone/2024-10-26-teamone-modelone.csv
Labels: data-submission

update forecast team one
  model-output/teamone-modelone/2024-10-26-teamone-modelone.csv
  model-output/teamone-modelone/2024-11-02-teamone-modelone.csv
Labels: data-submission

Update create_baseline.yaml
  .github/workflows/create_baseline.yaml
Labels: none

Update create_baseline.yaml
  .github/workflows/create_baseline.yaml
Labels: none

update validate and merge PR workflow
  .github/workflows/automerge.yml
  .github/workflows/labeler.yml
  .github/workflows/validate-and-merge.yaml
  .github/workflows/validate-config.yaml
  .github/workflows/validate-submission.yaml
Labels: none

more changes
  .github/workflows/validate-and-merge.yaml
Labels: none

Update authorized_users.txt
  src/code/authorized_users.txt
Labels: code

combine two validation workflow
  .github/workflows/validate-and-merge.yaml
  .github/workflows/validate-submission.yaml
Labels: none

team three submission
  model-metadata/teamthree-testmodel.yaml
  model-output/teamthree-testmodel/2024-11-02-teamthree-testmodel.csv
Labels: data-submission, model-metadata

Update validate-submission.yaml
  .github/workflows/validate-submission.yaml
Labels: none

update forecast date
  model-output/teamthree-testmodel/2024-11-02-teamthree-testmodel.csv
  model-output/teamthree-testmodel/2024-11-09-teamthree-testmodel.csv
Labels: data-submission

Update validate-submission.yaml
  .github/workflows/validate-submission.yaml
Labels: none

auto update workflow
  .github/workflows/update-authorized-users.yaml
  src/code/get_authorized_users.r
Labels: code

update code
  .github/workflows/update-authorized-users.yaml
Labels: none

team foour metadata
  model-metadata/teamfour-testmodel.yaml
Labels: model-metadata

update codes for PR
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .github/workflows/update-authorized-users.yaml
Labels: none

Update authorized users list
  src/code/authorized_users.txt
Labels: code

update code
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .github/workflows/update-authorized-users.yaml
Labels: none

update target data
  src/code/get_test_target_data.r
  target-data/covid-hospital-admissions.csv
Labels: code

Add baseline forecasts
  CovidHub-baseline/2024-11-09-CovidHub-baseline.csv
Labels: none

update code
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .github/workflows/update-authorized-users.yaml
Labels: none

Add baseline forecasts
  CovidHub-baseline/2024-11-09-CovidHub-baseline.csv
Labels: none

update code
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .github/workflows/update-authorized-users.yaml
Labels: none

add forecasts
  model-output/teamfour-testmodel/2024-11-09-teamfour-testmodel.csv
Labels: data-submission

update code
  .github/workflows/validate-submission.yaml
Labels: none

add forecast
  model-output/teamone-modelone/2024-11-09-teamone-modelone.csv
Labels: data-submission

.github/labeler.yml:

data-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'model-output/**/*.csv'
 
code:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*'

model-metadata:
  - changed-files:
    - any-glob-to-any-file:
      - model-metadata/**/*.yml
      - model-metadata/**/*.yaml

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - hub-config/*
