Repository CDCgov/covidhub-sandbox, pull requests merged in 2024-11, with the labels that each got.

#8 add designated user
  .github/workflows/validate-changes.yaml
  hub-config/model-metadata-schema.json
  src/code/authorized_users.txt
Labels: code

#14 Update authorized_users.txt
  src/code/authorized_users.txt
Labels: code

#24 add team one metadata
  model-metadata/teamone-modelone.yaml
Labels: model-metadata

#25 add forecast team one
  model-output/teamone-modelone/2024-11-02-teamone-modelone.csv
Labels: data-submission

#32 team three submission
  model-metadata/teamthree-testmodel.yaml
  model-output/teamthree-testmodel/2024-11-09-teamthree-testmodel.csv
Labels: data-submission, model-metadata

#35 Create auth users
  .github/workflows/update-authorized-users.yaml
  src/code/get_authorized_users.r
Labels: code

#36 team four metadata
  model-metadata/teamfour-testmodel.yaml
Labels: model-metadata

#40 update target data
  src/code/get_test_target_data.r
  target-data/covid-hospital-admissions.csv
Labels: code

#54 add forecast team 1
  model-output/teamone-modelone/2024-11-09-teamone-modelone.csv
Labels: data-submission

#61 add forecast team 4
  model-output/teamfour-testmodel/2024-11-09-teamfour-testmodel.csv
Labels: data-submission

#66 Submit metadata team5
  model-metadata/teamfive-model5.yml
Labels: model-metadata

#68 Team5 forecast
  model-output/teamfive-model5/2024-11-09-teamfive-model5.csv
Labels: data-submission

#69 team 6 metadata
  model-metadata/teamsix-modelsix.yml
Labels: model-metadata

#85 Update model-metadata to allow mulitple auth users
  hub-config/model-metadata-schema.json
Labels: configuration

#92 Revert "Update model-metadata to allow mulitple auth users"
  hub-config/model-metadata-schema.json
Labels: configuration

#89 Metadata for test automerge team
  model-metadata/autoteam-testautomodel.yaml
Labels: model-metadata

#95 Test submission for 2024-11-09 ref date
  model-output/autoteam-testautomodel/2024-11-09-autoteam-testautomodel.csv
Labels: data-submission

#96 Create another autoteam for which I am _not_ a valid submitter
  model-metadata/autoteam2-automodel2.yaml
Labels: model-metadata

#101 allow multiple users
  .github/workflows/merge-validated-pr.yaml
  hub-config/model-metadata-schema.json
  model-metadata/teamone-modelone.yaml
  src/code/authorized_users.txt
  src/code/get_authorized_users.r
Labels: model-metadata, configuration

#104 add forecast team 1 - test automerge with GH app key
  model-output/teamone-modelone/2024-11-16-teamone-modelone.csv
Labels: data-submission

#106 Automerge team3
  model-output/teamthree-testmodel/2024-11-16-teamthree-testmodel.csv
Labels: data-submission

#107 update readme
  model-output/README.md
Labels: documentation

#109 test submission to test how fetch depth affects merging PR behind main branch
  model-metadata/teamthree-testmodel.yaml
Labels: model-metadata

#110 test submission when branch is behind
  model-output/teamthree-testmodel/2024-11-23-teamthree-testmodel.csv
Labels: data-submission
